{{yield}}
<article class="listing">
  <a {{action 'toggleImageSize'}} class="{{if isWide "wide"}}">
    <img src="{{pro.image}}" alt="{{pro.name}} image" />
    <small>View larger</small>
  </a>
  <h3>{{#link-to 'products.show' pro.id}}{{pro.name}}{{/link-to}}</h3>
  <div class="detail desc">
    <span>About: </span>{{pro.desc}}
  </div>
  <div class="detail price">
    <span>Price: </span>{{pro.price}}<span> zł</span>
  </div>
  <div class="detail availability">
    <span>Currently </span>{{product-available pro.availability}}
  </div>
</article>