{{outlet}}

<a id="test-link" {{action 'changeLink' preventDefault=false}} href="http://www.google.pl" target="_blank">Super auto-changing link</a>
<br />
Teraz będzie <span style="font-weight: bold;">{{counter whatLinkNext}}</span>

{{input value=cos}}

<br /><br />
czy tu cos napisalem: <span>{{cos}}</span>